@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --main-color:#2196F3;
  --color-main-dark: #212121;
  --color-second-dark: #757575;
  --color-main-light: #FFFFFF;
  --color-bg-dark: #2F303A;
  --color-bg-light2:#F5F4FA;
  --color-bg-main:#188CE8;
}

html, body {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--color-main-dark);
}

.wraper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
  padding: 0;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  font-family: inherit;
}

[class*="__container"] {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-main-light);
}

.button:hover, .button:focus {
  background-color: var(--color-bg-main);
}

.title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.title-h3 {
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
}

.subtitle-h3 {
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--color-second-dark);
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--main-color);
}

.header {
  text-decoration: none;
}

.header__container {
  height: 80px;
}

.header__logo {
  margin-right: 50px;
}

.header__logo span {
  color: var(--color-main-dark);
}

.header__link {
  display: inline-block;
  padding: 0 20px;
}

.header__link a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-main-dark);
}

.header__link a:active {
  color: var(--main-color);
}

.header__contacts {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__element {
  display: inline-block;
}

.header__element a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-second-dark);
  margin: 0 20px;
}

.header__element a:last-child {
  margin-left: 20px;
}

.header__element a:hover, .header__element a:focus {
  color: var(--main-color);
}

.hero {
  text-align: center;
  padding: 200px 0;
}

.hero__container {
  padding: 0 250px;
}

.hero__title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-main-light);
  margin: 0 auto 30px;
}

.principles {
  padding: 94px 0;
  font-size: 14px;
}

.principles__iteam:not(:last-child) {
  margin-right: 30px;
}

.principles h3 {
  margin-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.principles p {
  font-size: 14px;
  line-height: 1.71;
}

.works {
  padding-bottom: 94px;
}

.works__title {
  margin-bottom: 50px;
}

.works__list {
  margin: 0 -15px;
}

.works__foto {
  margin: 0 15px;
}

.team {
  padding: 94px 0;
}

.team__title {
  margin: 0 auto;
  margin-bottom: 50px;
}

.team__iteam {
  text-align: center;
  margin: 0 15px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__iteam img {
  margin-bottom: 30px;
}

.team__iteam h3 {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__iteam p {
  line-height: 1.18;
  margin-bottom: 30px;
}

.footer {
  padding: 60px 0;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__logo span {
  color: var(--color-main-light);
}

.footer__link {
  display: block;
  margin-bottom: 9px;
}

.footer__link a {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link:first-child a {
  color: var(--color-main-light);
}

.footer__link:hover a, .footer__link:focus a {
  color: var(--main-color);
}

.footer__link:last-child {
  margin-bottom: 0;
}

.portfolio {
  padding: 94px 0;
}

.portfolio__menu {
  margin-bottom: 50px;
}

.portfolio__item {
  margin-right: 8px;
}

.portfolio__item:last-child {
  margin-right: 0;
}

.portfolio__element {
  margin: 14px;
}

.buttons {
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  height: 38px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--color-main-dark);
  border-radius: 4px;
}

.buttons:active {
  color: var(--color-main-light);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.element-portfolio__text {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.element-portfolio__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
